.Character {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
    background: rgb(32, 35, 41);
    
    
}
.imgBlock {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
  

}
.imgBlock img {
    border-radius:40%;
    width: 90%;
    height: 100%;
    opacity: 1;
    object-position: center center;
    margin: 0.5%;
    transition: opacity 0.5s ease 0s;
    padding: 10%;
    
}
.textBlock {
    width: 70%;
}
.statusCircle {
    display: inline-block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: rgb(175, 214, 46);
}
.statusCircle.alive {
    background-color: rgb(85, 204, 68);
}
.statusCircle.dead {
    background-color: rgb(214, 61, 46);
}
.textBlock {
    color: rgb(255, 255, 255);
    text-align: center;
    flex: 3 1 0%;
    padding: 0.75rem;
}
.titleBlock .nameLink {
    text-decoration: none;
    font-family: 'Fredoka One', cursive;
    font-weight: bold;
    font-size: 1.6rem;
    color:rgb(255, 152, 0);
}
.titleBlock a:hover {
    color: white;
}
.title {
    font-family: 'Roboto', cursive;
    color: gray;
}
