.Nav a:not(:last-child) { 
    margin-right:10px;
    
}
.Nav a:last-child { 
    margin-right:1.5rem;
    
}

.Nav a {
    text-decoration: none;
    color:rgb(255, 152, 0);
    font-family: 'Fredoka One', cursive;
    font-size: 1.5rem;
}